.review-and-submit-app-page {
    &-container {
        width: 37.5rem;
    }

    &-card {
        &-container {
            border: 1px solid #E2E2E4;
            border-radius: 0.625rem;
            width: 37.5rem;
        }
    
        &-header {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 1.5rem 1.5rem 0 1.5rem;
    
            &-button {
                background: none;
                border: 1px solid #2B3A4B;
                border-radius: 0.375rem;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 0.875rem;
                font-weight: 600;
                height: 2rem;
                line-height: 1rem;
                width: 6.625rem;
    
                &:hover {
                    background-color: #2B3A4B;
                    color: #FFF;
                }
    
                transition: background-color 0.3s;
                transition: color 0.3s;
            }
    
            &-title {
                display: flex;
                flex-direction: column;
    
                &-text {
                    color: #282934;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 28px;
                }
    
                &-version {
                    color: #54555F;
                    margin-top: 6px;
                    font-size: 14px;
                    line-height: 16px;
                }
            }
    
    
    
            &-left-content {
                display: flex;
                gap: 1rem;
            }
        }

        &-body {
            display: flex;
            flex-direction: column;
            padding: 1.5rem;
        }
    }

    &-header {
        margin-bottom: 2.5rem;
    }

    &-agreement {
        display: flex;

        &-highlight {
            font-weight: 600;
        }
    }

    &-info-footer {
        color: #54555F;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 0.813rem;
        font-weight: 400;
        line-height: 1rem;

        &-container {
            margin-left: 0.313rem;
            margin-top: 1.563rem;
        }

    }
}