.app-flow-list {
  &-container {
    background-color: #f7f7f8;
    border-radius: 14px;
    height: 528px;
    width: 160px;
  }

  &-ul {
    list-style-type: none;
    margin-top: 1rem;

    &:first-child {
      padding-top: 12px;
    }
  }
}
