.app-flow-list-item {
    &-container {
        align-items: center;
        display: flex;
        margin-bottom: 2.5rem;
    }

    &-icon {
        filter: invert(75%) sepia(1%) saturate(3107%) hue-rotate(199deg) brightness(82%) contrast(87%);
        height: 0.75rem;
        margin-right: 0.625rem;
        width: 0.75rem;

        &-checked {
            filter: invert(26%) sepia(83%) saturate(5507%) hue-rotate(220deg) brightness(104%) contrast(97%);
            height: 0.75rem;
            margin-right: 0.625rem;
            width: 0.75rem;
        }

        &-selected {
            filter: invert(26%) sepia(83%) saturate(5507%) hue-rotate(220deg) brightness(104%) contrast(97%);
            height: 0.75rem;
            margin-right: 0.625rem;
            width: 0.75rem;
        }
    }

    &-text {
        color: #999AA3;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1rem;

        &-checked {
            color: #0B5FFF;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1rem;
        }
    }

}