.checkbox-data-card {
    &-container {
        align-items: flex-start;
        background-color: #F7F7F8;
        border-radius: 0.625rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 1.5rem;
        padding: 2.5rem;
        width: 37.5rem;
    }

    &-checkbox-list-container {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &-left-info {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-group {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-bottom: 1.063rem;
        }

        &-title{
            color: #282934;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.25rem;
            margin-right: 0.25rem;
        }

        &-icon {
            filter: invert(63%) sepia(94%) saturate(5398%) hue-rotate(207deg) brightness(101%) contrast(103%);
            height: 1rem;
            width: 1rem;
        }
    }
}