.provide-app-build-page {
    &-container {
        width: 37.5rem;
    }

    &-app-build {
        &-container {
            margin-bottom: 1.5rem;
        }

        &-radio-container {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
    }

    &-saas-compatible-container {
        align-items: center;
        display: flex;
        gap: 1px;
    }
}