.set-app-privacy-page {
    &-container {
        width: 37.5rem;
    }

    &-text {
        color: #6C6C75;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1rem;
    }
}