.header-title {
    color: #282934;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
}

.header-description {
    color: #6C6C75;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-break: break-all;
    line-height: 1.5rem;
}

.header-container {
    margin-bottom: 40px;
}