.informing-licensing-terms-page {
    &-container {
        width: 37.5rem;
    }

    &-app-license-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 2.5rem;
    }

    &-day-trial-container {
        align-items: center;
        display: flex;
        gap: 1.5rem;
        justify-content: flex-start;
    }
}