
.field-base-tooltip {
    &-icon {
        width: 15px;
        height: 15px;
        filter: invert(34%) sepia(14%) saturate(4340%) hue-rotate(190deg) brightness(88%) contrast(91%);
    }
}

.field-base-required-asterisk-icon  {
    margin-bottom: 6px;
    width: 9px;
    height: 9px;
    filter: invert(10%) sepia(92%) saturate(5864%) hue-rotate(358deg) brightness(101%) contrast(97%);
}