
.new-app-tool-bar {
    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding: 1.5rem;
    }

    &-arrow-right {
        width: 1rem;
        height: 1rem;
        align-self: center;
    }

    &-main-account-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-right: 1.438rem;

        &-img {
            width: 48px;
            height: 48px;
        }

        &-text {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 600;
            line-height: 1.25rem;
            font-size: 1.125rem;
        }
    }

    &-new-app-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-left: 1.438rem;

        &-img {
            width: 48px;
            height: 48px;
        }

        &-text {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 600;
            line-height: 1.25rem;
            font-size: 1.125rem;
        }
    }

    &-status {
        &-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.375rem;
        }

        &-icon {
            width: 0.5rem;
            height: 0.5rem;
            filter: invert(54%) sepia(5%) saturate(427%) hue-rotate(201deg) brightness(94%) contrast(98%);
        }

        &-text {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 600;
            color: #6C6C75; 
        }
    }

    &-button {
        &-container {
            display: flex;
            gap: 1rem;
        }


        &-text {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 0.875rem;
            line-height: 1rem;
            font-weight: 600;
        }

        &-exit {
            color: #2B3A4B;
        }

        &-save-draft {
            color: #2B3A4B;
            border: 0.125rem solid;
        }

        &-preview-storefront {
            color: #0B5FFF;
            border: 0.125rem solid #0B5FFF;
        }
    }
}