.tooltip {
    &-base-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        background-color: #E6EBF5;
        border-radius: 0.25rem;
        margin-bottom: 9px;
    }

    &-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-optional-text {
        font-size: 0.688rem;
        color: #2E5AAC;
        margin-right: 0.125rem;
    }

    &-icon {
        width: 12px;
        height: 12px;
        filter: invert(34%) sepia(14%) saturate(4340%) hue-rotate(190deg) brightness(88%) contrast(91%);
    }
}